<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="playTest.css">
    <link rel="stylesheet" href="home.css">
    <title>Document</title>
</head>
<body class="bp-gradient">
  <nav class="navbar navbar-expand-lg navbar-dark bp-gradient text-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="home">JeopLit</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="home">Home</a>
          <a class="nav-link" href="about">About</a>
          <a class="nav-link" href="contact">Contact</a>
          <% if (locals.user) { %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Profile
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="logout">Logout</a>
              </div>
            </li>
          <% } else { %>
            <a class="nav-link" href="login">Login</a>
            <a class="nav-link" href="signup">Sign up</a>
          <% } %>
          
          <!-- <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
        </div>
      </div>
    </div>
  </nav>
    <div class="categories bp-gradient p-2">
        <% if (locals.title) { %>
            <h1 class="text-center text-white"><%=title%></h1>
        <%}else{ %>
            <h1 class="text-center text-white">Study Smart with JeoPlit</h1>
        <%}%>
        <div class="d-flex text-white justify-content-evenly">
          <h4>Category 1</h4>
          <h4>Category 2</h4>
          <h4>Category 3</h4>
          <h4>Category 4</h4>
          <h4>Category 5</h4>
        </div>
    </div>
    <div class="d-flex container flex-row flex-wrap justify-content-start bp-gradient p-2 mr-45px">
      <div class="hidden" id="index">0</div>
      <div class="text-white">Score: <span id="score">0</span></div>
      <div class="hidden" id="cardCount"><%= size%></div>
        <%for (e of rows){%>
          <div class="d-flex w-100 gap-2">
            <%for (s of e.s){%>
              <div class="w-20 question-box" id='card<%= s.id%>' tabindex="0">
                <span class='hidden id'> <%= s.id%> </span>
                <span class='hidden question'> <%= s.q%> </span> 
                <span class='hidden answer'> <%= s.a%> </span>
                <h3 class="question-text"><%= e.v %></h3>
              </div>
            <%}%>
          </div>
        <%}%>
    </div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Launch demo modal
    </button>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalTitle">Modal title</h5>
            <button type="button" class="close" id="modalClose" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="modal-inner">
              <div class="question-side d-none">Question Side</div>
              <div id="modalQuestion"></div>
              <div id="modalAnswer" class="hidden"></div>
              <div id="modalValue" class="hidden"></div>
              <div id="modalId" class="hidden"></div>
              <form>
                <div class="form-group">
                  <label for="aInput" style="color: black">Answer: </label>
                  <input type="textbox" id="aInput" name="aInput" class="form-control">
                </div>
                <button type="submit" id="modalButton" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal for correct answer/answer input-->
    <div class="modal fade" id="checkModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="checkModalTitle">Modal title</h5>
            <button type="button" class="close" id="checkModalClose" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="modal-inner">
              <div class="question-side d-none">Question Side</div>
              <div id="checkModalQuestion"></div>
              <div id="checkModalInputAnswer"></div>
              <div id="checkModalAnswer"></div>
              <div id="checkModalValue" class="hidden"></div>
              <div id="checkModalId" class="hidden"></div>
              <div id="checkIssue"></div>
              <button type="submit" id="checkIssueButton" class="btn btn-primary hidden">Yes!</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal for end game-->
    <div class="modal fade" id="endModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="endModalScore">Modal title</h5>
            <button type="button" class="close hidden" id="endModalClose" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="modal-inner">
              <div class="question-side d-none">Question Side</div>
              <div>Thank you for playing!</div>
              <form method="POST" action="/returnHome">
                <button type="submit" class="btn btn-primary">Home</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
<script src="play.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>